{% extends 'base.html' %}
{% load static %}

{% block main %}
<section>
    <div class="section-header">
        <h3>DASHBOARD</h3>
        <div class="date-period">Periodo mostrado: {{fecha.start|date:'d-m-Y'}} - {{fecha.finish|date:'d-m-Y'}}</div>
        <a class="dwn-excel" href=""><i class="bi bi-filetype-xlsx"></i></a>
    </div>
    <div class="main-container-dashboard">
        <section class="dashboard-section3">
            <section class="graph-container4">
                <div class="graph-sub-container">
                    <div class="info-container-range" id="ordersTotal">
                        <form class="form-range" action="">
                            <label for="startDate">Desde:</label>
                            <input type="date" id="startDate">
                            <label for="endDate">Hasta:</label>
                            <input type="date" id="endDate">
                            <button class="range-filter"><i class="bi bi-funnel-fill"></i></button>
                            <button class="range-erase"><i class="bi bi-ban"></i></button>

                        </form>
                    </div>
                </div>
            </section>
        </section>
        <section class="dashboard-section">
            <section class="graph-container1">
                <div class="graph-sub-container">
                    <div class="info-container-sm" id="ordersTotal">
                        <p>Ordenes</p>
                        <h5>{{graph1.orders}}</h5>
                        <div class="perc-container">
                            <p class="percent-green">+5.50%</p>
                            <p> vs Mes anterior</p>
                        </div>
                    </div>
                    <div class="info-container-sm" id="subct">
                        <p>Productos</p>
                        <h5>{{graph1.products}}</h5>
                        <div class="perc-container">
                            <p class="percent-red">-1.23%</p>
                            <p> vs Mes anterior</p>
                        </div>
                    </div>
                </div>
                <div class="graph-sub-container">
                    <div class="info-container-sm" id="ordersTotal">
                        <p>Sin Falla</p>
                        <h5>{{graph1.sin_falla}}</h5>
                        <div class="perc-container">
                            <p class="percent-red">-5.38%</p>
                            <p> vs Mes anterior</p>
                        </div>
                    </div>
                    <div class="info-container-sm" id="subct">
                        <p>Scrap</p>
                        <h5>{{graph1.scrap}}</h5>
                        <div class="perc-container">
                            <p class="percent-green">+2.14%</p>
                            <p> vs Mes anterior</p>
                        </div>
                    </div>
                </div>
                <div>
                    <!-- <div id="subcat">
            </div>
            <div id="subcat">
            </div> -->
                </div>
            </section>
            <section class="graph-container2">
                <div class="info-container" id="top10reason">

                </div>
            </section>
        </section>
        <section class="dashboard-section2">
            <section class="graph-container3">
                <div class="info-container" id="subcat">

                </div>
            </section>
            <section class="graph-container3">
                <div class="info-container" id="cig">

                </div>
            </section>
        </section>
        <section class="dashboard-section3">
            <section class="graph-container4">
                <div class="info-container-md" id="top10prod">

                </div>
            </section>
        </section>
        <section class="dashboard-section2">
            <section class="graph-container3">
                <div class="info-container" id="scrapFamily">

                </div>
            </section>
            <section class="graph-container3">
                <div class="info-container" id="repairFamily">

                </div>
            </section>
        </section>
    </div>


</section>
<script>
    const categoriasUrl = "{% static 'orders/json/categorias.json' %}"; 
</script>
<script src="{% static 'orders/js/graph.js' %}"></script>
{% endblock %}