{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Positron | Garantias</title>
{% endblock %}

{% block main %}
<section>
    <div class="section-header">
        <h3>ESTADOS</h3>
        <button class="regular-button" type="button" data-bs-toggle="modal" data-bs-target="#AddStatusModal">Crear
            estado</button>
    </div>
    <div class="main-container">
        <!-- Modal -->
        <div class="modal fade" id="AddStatusModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="AddStatusModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="AddStatusModalLabel">Crear Estado
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="status">Estado</span>
                                <input type="text" class="form-control" aria-label="status input"
                                    aria-describedby="status" name="status" value="" required>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="modal-family">Familia</label>
                                <select class="form-select" id="modal-family" name="family" required>
                                    <option value="">Seleccione una opción</option>
                                    {% for n in family %}
                                    <option value="{{n.family}}">{{n.family}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="add-product-button" name="create-status">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->
        <div class="table-users">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Estado</th>
                        <th scope="col">Familia</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if estados %}
                    {% for estado in estados %}
                    <tr>
                        <td scope="row">{{estado.status}}</td>
                        <td>{{estado.family}}</td>
                        <td><a href="" data-bs-toggle="modal"
                            data-bs-target="#DeleteModal{{estado.id}}"><i class="bi bi-x-square-fill red"></i></a></td>
                        <td class="edit-icon"><a href="" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{estado.id}}"><i class="bi bi-pencil"></i></a></td>
                    </tr>
                    <!-- Modal Edit -->
                    <div class="modal fade" id="staticBackdrop{{estado.id}}" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop{{estado.id}}Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdrop{{estado.id}}Label">Editar Estado
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="status_id" value="{{estado.id}}">
                                        <div class="input-group input-group-sm mb-3">
                                            <span class="input-group-text" id="status">Estado</span>
                                            <input type="text" class="form-control" aria-label="status input"
                                                aria-describedby="status" name="status" value="{{estado.status}}" required>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="modal-family">Familia</label>
                                            <select class="form-select" id="modal-family" name="family">
                                                <option value="{{estado.family}}">{{estado.family}}</option>
                                                {% for n in family %}
                                                <option value="{{n.family}}">{{n.family}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="submit" class="add-product-button"
                                            name="edit-status">Guardar</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Delete -->
                    <div class="modal fade" id="DeleteModal{{estado.id}}" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="DeleteModal{{estado.id}}Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="DeleteModal{{estado.id}}Label">Borrar Estado
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="status_id" value="{{estado.id}}">
                                        <div class="input-group input-group-sm mb-3">
                                            <p>¿Seguro desea borrar estado {{estado.status}}?</p>
                                        </div>
                                        <button type="submit" class="add-product-button"
                                            name="delete-status">Borrar</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancelar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>

</section>

{% endblock %}