{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Positron | Garantias</title>
{% endblock %}

{% block main %}
<section>
    <div class="section-header">
        <h3>ESTADOS</h3>
        <button class="regular-button">Agregar estado</button>
    </div>
    <div class="main-container">
        <div class="table-users">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Estado</th>
                        <th scope="col">Familia</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if estados %}
                    {% for estado in estados %}
                    <tr>
                        <td scope="row">{{estado.status}}</td>
                        <td>{{estado.family}}</td>
                        <td><i class="bi bi-x-square-fill red"></i></td>
                        <td><i class="bi bi-pencil"></i></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>
    <section>

    </section>

    {% endblock %}