{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Positron | Garantias</title>
{% endblock %}

{% block main %}
<section>
    <div class="section-header">
        <h3>ORDENES - F721-03 R2</h3>
        <button class="regular-button">Crear Orden</button>
    </div>
    <div class="main-container">
        <section class="orders-section">  
            <div class="order-container">
                <div class="order-top envio"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>WD00000009</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lombardo</td>
                                <td>29/01/2025</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-container">
                <div class="order-top envio"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>TB1536080201</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nucleo Cordoba</td>
                                <td>29/01/2025</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-container">
                <div class="order-top recepcion"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>0000007</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cars Equipamientos</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-container">
                <div class="order-top devuelto"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>0000006</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lidercar</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>00009335481AX10I9IAC301</td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-container">
                <div class="order-top inprogress"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>0000005</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cartronic</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-container">
                <div class="order-top finalizado"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>0000004</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cartronic</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td></td>
                                <td></td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-container">
                <div class="order-top devuelto"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>0000003</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Macars</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>R0002 00020926</td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-container">
                <div class="order-top devuelto"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>0000002</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cartronic</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>00009335481AX10I9IAC301</td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="order-container">
                <div class="order-top devuelto"></div>
                <div class="order-bottom">
                    <table class="table-order">
                        <thead>
                            <tr>
                                <th style="width: 10%">
                                    <h3>0000001</h3>
                                </th>
                                <th style="width: 10%">F. Envio</th>
                                <th style="width: 10%">F. Recepción</th>
                                <th style="width: 10%">F. Revisión</th>
                                <th style="width: 10%">F. Finalización</th>
                                <th style="width: 10%">F. Devolución</th>
                                <th style="width: 20%">Seguimiento</th>
                                <th style="width: 10%"></th>
                            </tr>
                            </th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cartronic</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>02/01/2025</td>
                                <td>00009335481AX10I9IAC301</td>
                                <td><i class="bi bi-x-square-fill red"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </section>
    </div>

</section>

{% endblock %}