{% extends 'base.html' %}
{% load static %}

{% block main %}
<section>
    <div class="section-header">
        <h3>IMPRESIÓN ORDEN</h3>
    </div>
    <div class="main-container print">
        <div class="detail-order-container"></div>
        <section class="print-order-container">
            <div class="print-order-container">
                <h1>Orden de Reparación #</h1>
                <p>F721-01 R1</p>
            </div>
            <div class="print-order-header">
                <div><strong>Usuario: </strong>Julian </div>
                <div><strong>Cantidad de Productos: </strong>1 </div>
                <div><strong>Código de seguimiento: </strong>ASDFSADFSDAF21234122 </div>
            </div>
        </section>
    </div>
</section>
{% endblock %}