{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Positron | Garantias</title>
{% endblock %}

{% block main %}
<section>
    <div class="section-header">
        <h3>PRODUCTOS</h3>
        <button class="regular-button">Agregar Producto</button>
    </div>
    <div class="main-container">
        <div class="table-users">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Producto</th>
                        <th scope="col">Familia</th>
                        <th scope="col">Subcategoria</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if productos %}
                    {% for producto in productos %}
                    <tr>
                        <td scope="row">{{producto.name}}</td>
                        <td>{{producto.family}}</td>
                        <td>{{producto.subcat}}</td>
                        <td><i class="bi bi-x-square-fill red"></i></td>
                        <td><i class="bi bi-pencil"></i></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
</section>

{% endblock %}