{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Registro</title>
{% endblock %}


{% block main %}
    {% if usuario.is_admin %}
    <section class="login_container">
        <div class="login-element-container">
            <h3>CREAR USUARIO</h3>
            <form class="login-form" method="POST">
                {% csrf_token %}
                {{ form1.as_p }}
                <label for="distribuidor">Distribuidor</label>
                <input type="text" id="distribuidor" name="distribuidor">
                {% if form2.distribuidor.errors %}
                <div class="requerido">
                    {% for error in form2.distribuidor.errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-details">
                    <label for="distribuidor">Administrador</label>
                    <input type="checkbox" id="administrador" name="administrador">
                </div>
                <input class="btn-send" type="submit">
            </form>
        </div>
    </section>
    {% endif %}
{% endblock %}