{% extends 'base.html' %} 
{% load static %}

{% block title %}
<title>Positron | Usuarios</title>
{% endblock %}

{% block main %}

<section>
    <div class="section-header">
        <h3>USUARIOS</h3>
        <button class="regular-button">Crear Usuario</button>
    </div>
    <div class="main-container">
        <div class="table-users">
            <table class="table table-hover">
                <thead>
                    <tr class="table-success">
                        <th scope="col">Usuario</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Distribuidor</th>
                        <th scope="col">Privilegio</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if usuarios %}
                    {% for usuarios in usuarios %}
                    <tr>
                        <td scope="row">{{usuarios.user_name}}</td>
                        <td>{{usuarios.email}}</td>
                        <td>{{usuarios.passwrd}}</td>
                        <td>{{usuarios.distributor}}</td>
                        {% if usuarios.is_admin %}
                        <td>Administrador</td>
                        {% else %}
                        <td>Usuario</td>
                        {% endif %}
                        <td><i class="bi bi-x-square-fill red"></i></td>
                        <td><i class="bi bi-pencil"></i></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</section>
    <section>

    </section>

    {% endblock %}