*{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}
:root{
    --incomplete-color: #87011c; /* Red */
    --send-color: rgb(99, 0, 174);
    --canceled-color: #252525; /* black */
    --received-color: #f4cf00; /* Orange */
    --pending-color: #0093bb; /* Blue */
    --notreturned-color: #009113; /* Green */
    --finished-color: #d2d2d2; /* Grey */
    --green-btn: #5dbea3; 
    --blue-btn: #5783db;
    --dark-blue: #2a5ec5;
    --red-btn: #aa315f;
    --add-product-button: rgba(70, 129, 244,0.4);
    
}
/* hr{
    width: 100%;
    border-bottom: 3px black double;
} */

.svg-container {
    border-radius: 8px !important;
    background: white !important;
    width: 100% !important;
}
.main-svg{
    background: rgba(255,255,255,0) !important;
    width: 100% !important;
}
.green-btn{
    background: var(--green-btn);
}
.vio-btn{
    background: var(--send-color);
}
.green-btn:disabled, .blue-btn:disabled{
    background: var(--finished-color) !important;
    cursor: not-allowed !important;
}
.blue-btn{
    background: var(--blue-btn);
}
.red-btn{
    background: var(--red-btn) ;
}
p{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

/* .helptext{
    display: none;
} */
main{
    display: flex;
}
aside{
    width: 200px;
    height: 100vh;
    position: sticky;
    top: 0;
    background: #1f2529;

}
.logo-container, .welcome{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container, .section-header{
    height: 70px;
}
.logo-container{
    background-color: #000;
}
.section-header{
    background-color:#fafafa;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}
.section-header h3{
    color: #202B46;
    font-weight: 800;
    margin-bottom: 0 !important;
}
.regular-button{
    width: 130px;
    height: 36px;
    border-radius: 3px;
    background: #C60C30;
    border: transparent;
    font-size: 12.5px;
    color: #fafafa;
}
.date-period{
    font-size: 11px;
    color: #202B46;
}
.section-header a{
    text-decoration: none;
    font-size: 12.5px;
    text-align: center;
    line-height: 36px;
}
.dwn-excel{
    font-size: 26px !important;
    font-weight: 800 !important;
    color: #009113; 
}
.dwn-excel:hover{
    color: #02cb1d;
}
.regular-button:hover{
    background: #A71930;
}
.main-container-dashboard{
    background-color:#b2f800;
    /* background-color:#F0F6FB; */
    width: calc(100vw - 200px);
    /* height: 1500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-container{
    /* background-color:#f3f3f3; */
    background-color:#e8e8e8;
    width: calc(100vw - 200px);
    /* height: 1500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.print{
    background-color: transparent !important;
}
.logo{
    width: 150px;
}
.logo-login{
    width: 350px;
}
li, .helptext{
    font-size: 9px ;
}
.navbar li{
    font-size: 12px !important;
    
    margin: 10px 0px;
    color: #fafafa;
}
.orders-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.order-container{
    width: 95%;
    margin: 5px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */
    /* background-color: yellow; */
}
.print-order-container{
    width: 90%;
}
.print-order-container-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.print-order-container-top h2{
    margin-bottom: 0 !important;
    font-size: 1.75rem !important;
}
.print-order-header{
    display: flex;
    flex-direction: column;
}
.print-order-header p{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.oh-user-info{
    margin-right: 20px;
    font-size: 14px;
}
.oh-dates-info{
    margin-right: 10px;
    font-size: 12px;
}

.oh-dates{
    margin-top: 15px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 3px double black;
}
.red{
    color: var(--incomplete-color);
    font-size: 12px !important;
}
.edit-user-form label{
    font-size: 9px;
    margin-bottom: 3px;
}
.es_admin label{
    font-size: 12px !important;
    text-align: center !important;
}
.edit-user-form input{
    height: 40px;
    border-radius: 5px;
    border: solid 1px #cecece;
    padding-left: 10px;
}
.edit-user-form input:focus{
    border: none;
    outline: #87011c 2px solid;
}
.edit-user-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.black{
    color: var(--canceled-color);
    font-size: 12px !important;
}
.noenvio{
    background-color: var(--send-color);
}
.envio{
    background-color: var(--incomplete-color)
}
.pendiente {
    background-color: var(--pending-color);

}
.recepcion{
    background-color: var(--received-color);
}
.finalizado{
    background-color: var(--notreturned-color);
}
.devuelto{
    background-color: var(--finished-color);
}
.cancelada{
    background-color: var(--canceled-color);
}
.order-top{
    width: 100%;
    height: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 10px;
}
.order-bottom{
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.1);
    padding:10px;
}
.navbar a, tbody a{
    color: #fafafa;
    text-decoration: none !important;
}
.navbar ul{
    list-style-type: none !important;
    padding-inline-start: 25px !important;
}
.table-users{
    width: calc(100vw - 220px);
}
.table{
    margin-top: 20px !important;
    
}

.table-success{
    --bs-table-bg: #202B46 !important;
    --bs-table-color: #fafafa !important
}
.table-order{
    width: 100%;
}
.table-order tbody, .table-order thead{
    text-align: center;
    width: 100%;
}
.table-order thead th{
    font-weight: 600;
}
.order-number-main{
    text-decoration: none;
}
.order-number-main h3:hover{
    color: #f84f00;
}
th h3, .order-number-main h3{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 0;
    text-decoration: none !important; 
    color: #0b3970;
}
th, td{
    font-size: 12px;
    font-weight: 400;
}
.print-thead th{
    font-weight: 800 !important;
}
.copyright p{
    position: fixed;
    bottom: 10px;
    left: 60px;
    font-size: 10px;
    color: #5C7F92;
}
.login_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #37424A; */
    background-image: url('../img/login-bg.webp');
    background-size: cover;
}
.login-element-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-element-container h2{
    color: #C5D2E0;
    margin-bottom: 30px;
    font-size: 24px;
    /* border-bottom: 1px solid #C5D2E0; */
}
.login-form, .form-details{
    width: 100%;
}
.form-details{
    display: flex;
    align-items: center;
}
.form-details input{
    margin-left: 5px;
}
.requerido, .errorlist li{
    color: orange !important;
}
.login-form label{
    color: #fafafa;
    font-size: 12px;
    margin-bottom: 5px;
}
.login-form input{
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    border: 0px;
}
.login-form input:focus{
    outline: 2px solid #C5D2E0;
}
.login-form li{
    color: #fafafa;
}
.login-element-container h3{
    color: #fafafa;
}
::marker{
    color: #fafafa;
}
.btn-send{
    height: 35px;
    border-radius: 5px;
    width: 100%;
    background: #5C7F92 !important;
}
.welcome{
    color: #C60C30;
    font-size: 14px;
    font-style: italic;
}
.edit-icon a{
    color: black !important;
    text-decoration: none !important;
}

/* NEWORDER CSS */

.detail-order-container{
    margin-top: 30px;
    width: calc(100vw - 300px);
    /* background-color: yellow; */
}
.neworder-row-two{
    width: 100%;
    text-align: end;
    margin-top: 10px;
}
.neworder-row-three{
    display: flex;
    align-items: center;
    margin-top: 10px
}
.neworder-row-four{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px
}
.neworder-row-five{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.neworder-row-three i, .print-order-container i{
    vertical-align: middle;
    font-size: 40px;
    font-style: bold;
    margin-left: 40px;
}
.neworder-row-three a, .print-order-container a{
    color: black !important;
    text-decoration: none !important;
    transition: ease-in-out;
    transition-duration: 250ms;
}
.neworder-row-three a:hover, .print-order-container a:hover{
    color: var(--notreturned-color) !important;
    text-decoration: none !important;
}
.neworder-input{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    margin-right: 20px;
    border: transparent;
    font-size: 14px;
    color: #fafafa;
}
.neworder-input:hover{    
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.3);
}
.user-field-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    /* width: 300px; */
    height: 70px;    
}
.user-field-container select{
    border: transparent !important;
    outline: transparent !important;
    font-size: 14px;
}
.rw5-field-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
}
.detail-order-container label{
    padding-left: 10px;
    font-size: 11px;
}
/* .user-field-label{
    box-sizing: border-box;
    vertical-align:middle;
    border-radius: 3px 0px 0px 3px;
    min-width: 50%;
    max-width: 100%;
    font-size: 11px;
} */
.user-field-value{
    background: #f6f6f6 ;    
    border-radius: 2px;
    padding-left: 10px;
    margin-bottom: 10px;
    height: 28px;
    outline: transparent !important;
    border: transparent !important;
    /* margin-bottom: 2px; */
}
.usuario{
    width: 200px;
    font-size: 18px;
    font-weight: 800;
}
.tracking-field, .nro-orden, .total-product{
    font-size: 14px;
    padding-top: 3px;
}
.tracking-field{
    box-sizing: border-box;
    width: 370px;
    padding-right: 5px;
    text-align: center;
}
.tracking-field:disabled{
    background-color: #f7f7f7;
    cursor: not-allowed;
}
.filter-distributor{
    display: flex;
    /* flex-direction: column; */
    align-items: end;
}
.input-distributor{
    border: 1px solid #1c2539 !important;
    font-size: 11px;
    height: 30px;
}
.search-btn{
    padding: 0 6px !important;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.borrar{
    margin: 0;
    margin-bottom: 2px !important;
  }
  .borrar a{
    margin: 0 !important;
    text-decoration: none !important;
    color: black !important;
    font-style: italic !important;
    font-size: 11px !important;    
  }
.alert {
    margin-top: 10px !important;
}
.buscar{
    max-width: 180px;
    margin-top: 8px;
    margin-bottom: 0 !important;
}
.centered{
    align-items: center !important;
}
.total-product{
    width: 100px;
    text-align: center;
    padding-left: 0 !important;
}
.centered label{
    padding-left: 0 !important;
}
.nro-orden{
    width: 120px;
    font-weight: 800; 
    
}
.add-product-button{
    width: 140px;
    height: 30px;
}
.modal-button{
    width: 100px;
    height: 40px;
}
.modal-header{
    background-color: #ededed !important;
}
.form-select:disabled, .form-control:disabled{
    cursor: not-allowed !important;
}
.add-product-button, .modal-button{
    background: rgba(15, 113, 166,0.8);
    border: transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: ease-in-out;
    transition-duration: 200ms;
    color: #fafafa;
    font-size: 14px;
}
.add-product-button:hover, .modal-button:hover{
    background: rgba(15, 113, 166, 1);
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.3);
}
.red-btn:hover{
    background: #822549 !important;
    box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.3);
    /* cursor: not-allowed; */
}
.offcanvas{
    background: rgba(255, 255, 255, 0.9);
    --bs-offcanvas-width: 500px !important;
}
.offcanvas-body{
    font-size: 14px !important;
}
.offcanvas-btn-container{
    display: flex;
    justify-content: end;
}

.input-group{
    height: 34px;
}
.input-group-text{
    background-color: #0b3970 !important;
    color: #fafafa;
    width: 130px;
    font-size: 14px !important;
}

.rw5-field-value{
    min-width: 30%;
    padding: 2px 5px 2px 10px;
    height: 28px;
    background: #f6f6f6 ;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    padding-left: 10px;
    text-align: right;
    
}
.dates-table{
    background:#202B46;
    width: 100%;
    color: #fafafa;
    height: 30px;    
    margin: 10px 0px;
}
.dates-table td{
    padding: 2px 2px 2px 5px;
}
.table-date-field{
    min-width: 10%;
    max-width: 100%;
    text-align: center !important;
    /* background: #f6f6f6; */
    color: black;
}

.offcanvas-top-custom{
    width: 400px !important;
    height: 400px !important;
}

/* DASBOARD */
.main-container-dashboard{
    background-color:#eff0f6;
    /* background-color:#F0F6FB; */
    width: calc(100vw - 200px);
    /* height: 1500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dashboard-section, .dashboard-section2, .dashboard-section3{
    width: 100%;
    display: flex;
    
    /* background-color: #5783db; */
}
.dashboard-section{
    justify-content: space-between;
}
.dashboard-section2{
    justify-content: space-around;
}
.dashboard-section3{
    justify-content: center;
}

.graph-container1{
    width: 35%;
    /* background-color: #009113; */
}
.graph-container2{
    width: 65%;
    text-align: center;
    margin-right: 10px;
    /* background-color: #13ff32; */
}
.graph-container3{
    width: 47%;
    text-align: center;
    /* margin: 5px; */
    /* background-color: #13ff32; */
}
.graph-container4{
    width: 98%;
}
.graph-sub-container{
    display: flex;
    justify-content: space-evenly;
}
.info-container{
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
    height: 320px;
}
.info-container-md{
    margin: 10px 0px;
    width: 100%;
    border-radius: 10px;
    height: 420px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #f0f0f0,
                -5px -5px 10px #fafafa;
}
.info-container-range{
    padding-left: 15px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background: #fafafa;
    box-shadow:  5px 5px 10px #f0f0f0,
                -5px -5px 10px #fafafa;
    margin: 10px 0px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
}
.form-range{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 12px;
    color: #6c6c6c;
}
.form-range input{
    margin: 0px 5px;
    color: #6c6c6c;
    border: 0px;
    background: transparent;
}
.form-range input:focus{
    outline: 0px;
}
.range-filter, .range-erase{
    border: 0px;
    background: transparent;
    width: 30px;
    height: 30px;
    margin: 0px 5px;
    transition: ease-in-out;
    transition-duration: 150ms;
}
.range-filter{
    font-size: 20px !important;
    color: #6c6c6c;
}
.range-erase{
    font-size: 16px !important;
    color: #d90429;
    display: flex;
    justify-content: center;
    align-items: center;
}
.range-erase:hover{
    cursor: pointer;
    font-weight: 800;
    
}

.range-filter:hover{
    /* background: #74777a; */
    color: #019e23;
    /* border-radius: 25%; */
}


.info-container-sm{
    padding-left: 15px;
    width: 45%;
    height: 140px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #f0f0f0,
                -5px -5px 10px #fafafa;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-container-sm p{
    color: grey;
    font-size: 12px;
    margin-bottom: 2px;
}
.info-container-sm h5{
    font-size: 30px;
    font-weight: 800;
    color: #596588 !important;
}
.perc-container{
    display: flex;
    font-size: 10px;
    color: grey;
}
.perc-container p{
    margin-left: 5px;
}
.percent-green{
    color: #0acf97 !important
}
.percent-red{
    color: #fa5c7c !important
}
/* DASHBOARD END */

@media print{
    
    aside, .section-header, i{
        display: none;
    }
    .main-container,.main-container-dashboard{
        width: 100vw;
    }
    .oh-user-info{
        font-size: 11px;
    }
    .oh-dates-info{
        font-size: 9px;
    }
    .print-order-container{
        width: 98%;
    }
    .table{
        --bs-table-border-color: Grey !important;
    }
    .table th{
        font-size: 9px !important;
    }
    .table td{
        font-size: 8px !important;
    }
    th {
        font-weight: 800 !important;
    }
    
}